* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}
h5 {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
.clearfix {
    display: table;
    content: "";
    clear: both;
}

/* area debug */
.container {
    background-color: pink;
}
/* fine area debug */



/* background boolzapp */
.gen-container {
    background-color: #d7dbd7;
    height: 100vh;
    position: relative;
}
.green-line {
    height: 13vh;
    background-color: #009688;
}

/* boolzapp web */
.container {
    display: flex;
    width: 90%;
    height: 90vh;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}


/* left aside */

/* header */
#left {
    min-width: 35%;
    height: 100%;
    background-color: #fff;
}
#left header {
    height: 85px;
}
.box-utente {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #eaeaea;
    font-size: 20px;
}
.box-utente img {
    border-radius: 50%;
    width: 60px;
}
.box-utente h3 {
    display: inline-block;
}
.box-utente a {
    color: #b1b1b1;
}
.box-profilo, .box-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.box-btn {
    min-width: 20%;
    margin: 2%;
}

/* main */
#left main {
    height: calc(100% - 85px);
    min-height: 50%;
}
#left .container-main {
    height: 100%;
    min-height: 50%;
}
/* adv-notifiche */
#adv-notifiche {
    display: flex;
    align-items: center;
    height: 95px;
    background-color: #8edafc;
    font-size: 17px;
    font-weight: 400;
}
.btn-bell {
    background-color: #fff;
    border-radius: 50%;
    padding: 20px;
    margin: 0 4%;
    font-size: 22px;
}
.attiva-notifiche a{
    color: #4f7485;

}

/* ricerca chat barra */
#ricerca-chat {
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #fafafa;
}
.box-ricerca {
    font-size: 17px;
    min-width: 100%;
    border-radius: 5px;
    padding: 2% 3%;
}
.box-ricerca input {
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 88%;
    padding: 2% 1%;
    color: gray;
    font-size: 12px;
}
.box-ricerca i {
    padding: 11px;
    background-color: white;
}
/* chat-list */
#chat-list {
    background-color: white;
    font-size: 27px;
    height: calc(100% - 170px)
}
#chat-list ul {
    overflow-y: scroll;
    height: 100%;
    min-height: 50%;
}
#chat-list li{
    list-style: none;
    border-bottom: lightgray 1px solid;
    padding:30px;
    padding: 9px 25px;
    transition: 1.5s linear;
}
#chat-list li img {
    width: 70px;
    border-radius: 50%;
}
#chat-list li:hover {
    background-color: lightslategray;
}
.anteprima {
    color: grey;
    font-size: 10px;
}

/* right aside */
#right {
    width: 65%;
    height: 100%;
}
#right header {
    height: 85px;
}

/* header */
#right .box-btn{
    min-width: 10%;
}
.accesso-data {
    color:#b1b1b1 ;
    font-size: 12px;
}

/* main */
#right main {
    height: calc(100% - 85px);
}
#right .container-main{
    overflow-y: scroll;
    height: calc(100% - 85px);
    background-image: url("../img/mine.jpg");
}
.container-main {
    height: 100%;
}
/* chat-messaggi */
#area-chat {
    height: calc(100% - 85px);
    overflow-y: scroll;
    width: 100%;
    padding: 25px;
}
#area-chat ul li {
    list-style: none;
}
.mex {
    max-width: 45%;
    border-radius: 18px;
    padding: 12px 20px;
    margin: 15px;
    transition: 1.5s;
}
.messaggio-utente {
    background-color: rgba(38, 121, 38, 0.972);
    float: right;
    margin-left: 300px;
    text-align: right;
}
.messaggio-mitt {
    background-color: rgba(228, 228, 228, 0.972);
    float: left;
    margin-right: 300px; 
}
.orario {
    float: right;
    font-size: 9px;
    color: lightgrey;
    margin-top: 10px;
    display: none;
}
.messaggio-utente .orario {
    float: left;
}
#area-chat ul li:hover .orario{
    display: block;
}
.tendina {
    float: right;
    border: none;
    padding-bottom: 4px;
    background-color:transparent;
    cursor: pointer;
    position: relative;
    margin: 0 10px;
}
.lista-hidden {
    display: none;
    background-color: white;
    width: 120px;
    border: 2px black solid;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: -55px;
    
}
.lista-hidden li {
    padding: 3px;
}
.lista-hidden li:first-child {
    border-bottom: 1px solid lightgray;
    
}
.lista-hidden li i{
    color: lightgray;
}
.lista-hidden li i:hover {
    cursor: pointer;
    color: red;
}
.tendina:focus .lista-hidden{
    display: inline-block;
}
.tendina:hover .green{
    color: yellowgreen;
}
.messaggio-mitt .tendina {
    float: left;
}


/* barra inserimento mex */
#inserimento-mex {
    width: 65%;
    height: 85px;
    background-color: #f3eeea;
    position: fixed;
    z-index: 999;
    bottom: 0;
    font-size: 30px;
    color: grey;
}
.box-mex {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#mex-ins {
    width: 85%;
    height: 75%;
    margin:0 -25px;
    padding: 2%;
    border-radius: 15px;
    border: none;
}
.box-mex i {
    cursor: pointer;
}