<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- favicon -->
    <link rel="icon" type="image/png" href="https://pngimg.com/uploads/whatsapp/small/whatsapp_PNG95156.png"/>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Boolzapp Web</title>
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- day.js -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
</head>

<body>
    <div class="gen-container" id="app">
        <!-- background green -->
        <div class="green-line"></div>

        <!-- boolzapp web -->

        <div class="container">


            <!-- left side (sezione utente)-->
            <aside id="left">


                <!-- profilo utente -->
                <header>
                    <div class="box-utente">
                        <!-- profilo -->
                        <div class="box-profilo">
                            <img src="img/avatar_io.jpg" alt="foto profilo utente">
                            <h3>Nome Utente</h3>
                        </div>
                        <!-- btn -->
                        <div class="box-btn">
                            <a href="#">
                                <i class="fas fa-redo"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-comment-alt"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                        </div>
                    </div>
                </header>

                <!-- copro left -->
                <main>
                    <div class="container-main">
                        

                        <!-- ADV notifiche -->
                        <section id="adv-notifiche">
                            <!-- btn bell -->
                            <div class="btn-bell">
                                <i class="fas fa-bell-slash"></i>
                            </div>
                            <!-- testo attiva -->
                            <div class="attiva-notifiche">
                                <h4>Ricevi Notifiche di nuovi messaggi</h4>
                                <a href="#">
                                    Attiva notifiche desktop
                                </a>
                            </div>
                        </section>
    

                        <!-- ricerca chat barra-->
                        <section id="ricerca-chat">

                            <div class="box-ricerca">

                                <i class="fas fa-search"></i>
                                <input type="text" placeholder="Cerca o inizia una nuova chat">

                            </div>

                        </section>

                        <!-- chat-list -->
                        <section id="chat-list">

                            
                            <ul>
                                <li v-for="(items, index) in contacts" @click="changeUser(index)">
                                    <img :src="items.avatar" alt="user">
                                    <h5>{{items.nome}}</h5>
                                </li>
                            </ul>


                        </section>
                    </div>
                </main>
            </aside>



            <!-- right side (sezione chat) -->
            <aside id="right">


                <!-- profilo chat aperta -->
                <header>
                    <div class="box-utente">
                        <!-- profilo destinatario-->
                        <div class="box-profilo">
                            <img :src="contacts[userSelect].avatar" alt="foto">
                            <div class="destinatario">
                                <h3>{{contacts[userSelect].nome}}</h3>
                                <div class="accesso-data">Ultimo accesso oggi alle {{contacts[userSelect].lastAcc}}</div>
                            </div>
                        </div>
                        <!-- btn -->
                        <div class="box-btn">
                            <a href="#">
                                <i class="fas fa-search"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-paperclip"></i>
                            </a>
                            <a href="#">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                        </div>
                    </div>
                </header>


                <!-- corpo right -->
                <main>
                    <div class="container-main">

                        <!-- chat-messaggi -->
                        <section id="area-chat" class="clearfix">


                            <ul>
                                <li :class="(texture.status === 'sent') ? 'messaggio-utente mex clearfix' : 'messaggio-mitt mex clearfix' " v-for="texture in contacts[userSelect].message">
                                    <p>{{texture.text}}</p>
                                    <div class="orario">{{texture.date}}</div>
                                </li>

                            </ul>

                        </section>


                        <!-- barra inserimento messaggio -->
                        <section id="inserimento-mex">
                        
                            <div class="box-mex">
                                <i class="far fa-smile"></i>

                                <input type="text" id="mex-ins" placeholder="Scrivi un messaggio.." v-model="newText" @keydown.enter="addMex">

                                <i class="fas fa-microphone"></i>

                            </div>
                        </section>
                    </div>
                </main>
                
            </aside>


        </div>
    </div>
    




    <!-- my js -->
    <script src="js/script.js"></script>
</body>
</html>